* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: sans-serif;
}

div.container {
  display: flex;
  width: 100%;
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 20px 20px;
  gap: 40px;
}

div.navbar {
  display: flex;
  flex-direction: column;
  width: 120px;
  flex-shrink: 0;
  height: fit-content;
}

div.navbar a {
  display: block;
  margin-bottom: 5px;
}

main {
  flex: 1;
  max-width: 100ch;
  min-width: 0;
}

main > :first-child {
  margin-top: 0;
}

main img {
  max-width: 50ch;
  width: 100%;
  margin: 1ch auto;
  display: block;
}

pre {
  padding: 10px 5px;
  overflow: auto;
  max-height: 70vh;
  white-space: pre-wrap;
  word-break: break-word;
}

a {
  color: #1a5fb4;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  div.container {
    flex-direction: column;
    padding: 15px;
    gap: 20px;
  }

  div.navbar {
    width: 100%;
    position: relative;
    top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }

  div.navbar a {
    margin-right: 15px;
  }

  main {
    max-width: 100%;
  }
}
