:root {
  --bg: #0e0e10;
  --surface: #16181a;
  --surface-2: #2a2d30;
  --text: #efefef;
  --text-muted: #8a9a8a;
  --heading: #b8c5d0;
  --link: #90b8c8;
  --link-hover: #78b8b8;
  --accent-green: #7a9c8c;
  --border: #232323;
  --radius: 14px;
}

body {
  font-family:serif
}

div.container {
  counter-reset:figures;
  margin:30px auto 0px auto
}

div.container p,
div.container li {
  line-height:1.2;
  font-size:16px
}

div.container,
code,
pre {
  max-width:750px;
}

div.navbar {
  display:inline-block;
  padding:10px;
}

div.navbar a {
  margin-right: 10px;
}
li.post-item {
  display:table;
  width:100%
}
a.post-title span {
  float:left
}
div.post-date i {
  float:right
}
h1,
h2,
h2 {
  line-height:1.2
}
aside {
  margin-left:20px;
  font-style:italic
}
pre {
  overflow:auto;
  word-wrap:normal;
  white-space:pre;
  display:block;
  padding:15px
}

footer hr {
  margin-top:40px
}

sup,
sub {
  vertical-align:baseline;
  position:relative;
  top:-0.4em
}
sub {
  top:0.4em
}
@media (prefers-color-scheme: dark) {
  body {
    color: var(--text);
    background: var(--bg);
  }
  a[href] {
    color: var(--link)
  }
  a[href]:hover {
    color: var(--link-hover)
  }
  a[href]:visited {
    color:#bebedf
  }
  code.highlighter-rouge {
    color:#fe8019
  }
  svg,
  object.svg,
  img.svg,
  img[src$=".svg"] {
    filter:invert(100%)
  }
  table tr {
    border-top:1px solid #555;
    background-color:#121212
  }
  table tr:nth-child(2n) {
    background-color:#212121
  }
  li code,
  p code {
    color:#fe8019
  }
}
