@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
* {
  outline: 0;
  box-sizing: border-box !important;
}
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px !important;
}
body {
  background-color: #ededed;
  color: #000;
  line-height: 1.2;
  font-family: Inconsolata, serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
div.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  gap: 40px;
}
div.navbar {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 120px;
  flex-shrink: 0;
  height: fit-content;
  text-align: left;
}
div.navbar a {
  display: block;
  margin-bottom: 5px;
  color: #355F7A;
  text-decoration: none;
}
div.navbar a:hover {
  color: #1E88C9;
}
main {
  flex: 1;
  max-width: 750px;
}
p, ul, ol, li {
  margin: 0 0 1em;
}
h1 {
  color: #2F5E8B;
  font-weight: 400;
  margin: 0 0 1rem;
  line-height: 1;
}
h2, h3 {
  color: #3F6FA0;
  font-weight: 400;
  margin: 0 0 1rem;
  line-height: 1;
}
a {
  color: #1E6FB8; 
  text-decoration: none;
  padding: 0 2px;
  transition: color 0.2s;
}
a:hover {
  color: #0B4F8A;
}
li {
  margin-bottom: 10px;
}
.post-date,
.date-span {
  color: #6B7F8A;
  display: inline-block;
  min-width: 100px;
  font-family: monospace;
  font-size: 0.9em;
}
pre {
  background: transparent;
  padding: 15px 0;
  overflow: auto;
  border-radius: 0 !important;
}
code {
  font-family: "Inconsolata", monospace;
  color: gray;
  font-size: 14px;
}
p code,
li code {
  padding: 2px 4px;
  color: rgba(255, 255, 255, .85);
  background-color: rgba(110, 118, 129, .35);
  border-radius: 0;
}
@media only screen and (max-width: 600px) {
  div.container {
    flex-direction: column;
    padding: 15px;
    gap: 20px;
  }
  div.navbar {
    width: 100%;
    position: relative;
    top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  div.navbar a {
    margin-right: 15px;
  }
  main {
    max-width: 100%;
  }
}
